/* font 넣기 */
@font-face {
  font-family: "ChosunCentennial";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* 덕혜옹주체 */
@font-face {
  font-family: "DeogonPrincess";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/DeogonPrincess.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* all에 폰트 줬는데 버튼에만 먹음 얼척x */
/* * {
  font-family: "ChosunCentennial";
} */
body {
  font-family: "DeogonPrincess";
}
/* + added reset style */
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  /* text-decoration: underline; */
  font-weight: 1.5rem;
}
/* default css */
* {
  margin: 0;
  padding: 0;
}
/* variables */
:root {
  --main-ci-color: #e50914;
  --main-dark-color: #b8060e;
}
body {
  width: 100vw;
  height: auto;
  font-size: 1rem;
}
/* .container {} */
/* .value-prop-logo {} */
/*  ---------------------------*/
.wrap {
  border: 1px solid red;
}
.key-visual {
  background: gray;
}
.trailer {
  background: red;
}
