.map {
  display: flex;
  justify-content: center;
}
.map .mapInner {
  margin: 60px 0 0;
  border: 2px solid #cecece;
  width: 40%;
}

.map .mapInner > p {
  text-align: center;
  /* margin: 1rem 0; */
  margin: 1.4rem 0;
  font-size: 1rem;
}
.map .mapInner > #map {
  width: 100%;
  height: 400px;
}
