.premiere {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.premiere .premiere-ad {
  margin: 50px 0;
}
.premiere .premiere-ad p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.premiere .premiere-ad .premiere-event .premiere-ad-title {
  padding: 40px 0;
  font-size: 2rem;
}

.premiere .premiere-ad .premiere-event p:last-child {
  padding: 30px;
  font-weight: 600;
}
/* ----------- 시사회 이벤트 정보------------------------ */
.premiere .premiere-ad .premiere-event-info {
  margin: 30px 0;
}
.premiere .premiere-ad .premiere-event-info .premiere-event-info-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 1.4rem;
}
.premiere .premiere-ad .premiere-event-info .premiere-event-info-contents + p {
  margin-top: 60px;
  font-weight: 600;
}
/*  ----------- 사전 시사회 신청 폼 ------------------------- */

/* .premiere .premiere-ad .premiere-event-comment .premiere-event-hidden-area {
} */
.premiere
  .premiere-ad
  .premiere-event-comment
  .premiere-event-hidden-area
  form {
  color: white;
}
.premiere
  .premiere-ad
  .premiere-event-comment
  .premiere-event-hidden-area
  form
  input {
  margin-bottom: 10px;
}
.premiere .premiere-ad .premiere-event-comment .premiere-event-hidden-area {
  display: flex;
  justify-content: center;
  background: url("../images/netflixFooter.jpeg");
}
.premiere .premiere-ad .premiere-event-comment .premiere-event-hidden-area h2 {
  font-size: 1.24rem;
  line-height: 2.4rem;
  color: white;
  padding-bottom: 18px;
}
.premiere
  .premiere-ad
  .premiere-event-comment
  .premiere-event-hidden-area
  form {
  display: inline-block;
  min-width: 280px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 36px 0;
}
.premiere
  .premiere-ad
  .premiere-event-comment
  .premiere-event-hidden-area
  form
  label {
  text-align: left;
  font-size: 1.2rem;
}
.premiere
  .premiere-ad
  .premiere-event-comment
  .premiere-event-hidden-area
  form
  input[type="text"],
input[type="email"] {
  height: 20px;
}
.premiere
  .premiere-ad
  .premiere-event-comment
  .premiere-event-hidden-area
  form
  .submit-btn {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 34px;
  background: white;
  color: var(--main-ci-color);
  margin-top: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.premiere
  .premiere-ad
  .premiere-event-comment
  .premiere-event-hidden-area
  form
  .submit-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.premiere
  .premiere-ad
  .premiere-event-comment
  .premiere-event-hidden-area
  form
  input[type="text"],
input[type="email"] {
  border: none;
}

/* 토글 이벤트가 form의 css보다 아래 있어야 동작이 잘 됨 */
/*  ----------- 사전 시사회 신청 토글 이벤트 버튼------------------------- */
.premiere .premiere-ad .premiere-event-comment .applicationBtn {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 14px 28px;
  cursor: pointer;
  border: none;
  border-radius: 34px;
  background: var(--main-ci-color);
  color: white;
  margin-bottom: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.premiere .premiere-ad .premiere-event-comment .applicationBtn:hover {
  /* background: var(--main-dark-color); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/*  ----------- 사전 시사회 신청 토글 이벤트 ------------------------- */
.premiere .premiere-ad .premiere-event-comment .premiere-event-hidden-area {
  padding: 40px 0;
  background: var(--main-dark-color);
  display: none;
}
.premiere .premiere-ad .premiere-event-comment .toggle {
  display: block;
}

/*  ----------- form inner CSS -------------------------  */
